<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1023118440061-8vs4vrl89ocbcqhv79lolp4n3t7dbbbp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1023118440061-8vs4vrl89ocbcqhv79lolp4n3t7dbbbp</string>
	<key>API_KEY</key>
	<string>AIzaSyCAEurkNRW2_hbk54GSeYBOAHMGOf4S_Lk</string>
	<key>GCM_SENDER_ID</key>
	<string>1023118440061</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.womenSafetyApp</string>
	<key>PROJECT_ID</key>
	<string>women-safety-app-88459</string>
	<key>STORAGE_BUCKET</key>
	<string>women-safety-app-88459.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1023118440061:ios:590a21367a5e2ccedb6314</string>
</dict>
</plist>